body{
  height: 600px;
}
.back {
    position: fixed;
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(black, red, black);
    /* background-color: rgb(37, 35, 35); */
    animation-name: backdiv;
    animation-duration: 1s; 
    animation-iteration-count: infinite;
    
  }

  .heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: red;
    height: 6.3em;
    width: 7em;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    
  }
  .heart:after {
    background-color: red;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    top: 0px;
    left: 57px;
  }
  .heart:before {
    background-color: red;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 100px;
    height: 100px;
    top: -57px;
    left: 0px;
  }

  @keyframes backdiv {
    50% {
      background-image: linear-gradient(red, black, red);
    }
  }

  @keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  }
  .small-heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    height: 3.1em;
    width: 3.1em;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count: infinite;
  }
  .small-heart:after {
    background-color: black;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 30px;
}
  .small-heart:before {
    background-color: black;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -30px;
    left: 0px;
  }
  @keyframes beat {
    0% {
      transform: scale(1) rotate(-45deg);
    }
    50% {
      transform: scale(0.6) rotate(-45deg);
    }
  } 